body {
    background-color: bisque;
    height: 100vh;
}

.main-content {
    text-align: center;
}

.container {
    background: white;
    max-width: 400px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}